
/** ADD YOUR AWESOME CODES HERE **/
.error-msg{
    color:red;
    width:100%;
    font-weight: 500;
    font-size: 12px;
}
.success-msg{
    color:#3C763D;
    width:100%;
    font-weight: 500;
    font-size: 12px;
}
.note-msg{
    color:#31708F;
    width:100%;
    font-weight: 500;
    font-size: 12px;
}
.font-16{
    font-size: 16px;
}
.lgn-link{
    color: #00376D !important;
    font-weight: bold;
    font-size: 17px;
}
.pay-msg{
    margin: 0px;
    color: #790b08;
    font-weight: 500;
}
