	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/10/2019 07:14
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../../fonts/Flaticon.eot");
  src: url("../../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/Flaticon.woff") format("woff"),
       url("../../fonts/Flaticon.ttf") format("truetype"),
       url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-achievement:before { content: "\f100"; }
.flaticon-eye:before { content: "\f101"; }
.flaticon-history:before { content: "\f102"; }
.flaticon-study:before { content: "\f103"; }
.flaticon-online:before { content: "\f104"; }
.flaticon-years:before { content: "\f105"; }